header.masthead {
  padding-top: 10rem;

  background-image: url("http://ak3.picdn.net/shutterstock/videos/14838583/thumb/1.jpg");
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
